extends ../../partials/layouts/layout

block content
  h1(class='title has-text-centered has-text-primary is-size-1')= heading

  div(class='addIngredients has-text-centered is-size-5')
    a(href='/api/ingredients/add' class='has-text-primary') Add Ingredients
  div(id='ingredientsTable' class='ingredientsList')
    hr
    h2(class='has-text-centered is-size-5') Choose a recipe
    div(class='cardWrapper')
    each recipe in parsedRecipes    
        div(class="card")
            div(class="card-image")
                figure(class="image is-4by3")
                    img(class='cardImage' src=`${recipe.image}` alt=`${recipe.image}`)
            div(class="card-content")
              div(class="cardMedia media")
                p(class="is-size-5")= recipe.title
              a(href=`/api/recipes/${recipe.id}` class="is-size-6") View Recipe
              details(class='has-text-left is-size-6')
                summary(class='used is-size-6') Ingredients Used
                p(class='has-text-weight-semibold') Used
                each ingredient in recipe.usedIngredients
                  p  - #{ingredient.name} (#{ingredient.amount} #{ingredient.unit})
                p(class='has-text-weight-semibold') Not Used
                each ingredient in recipe.unusedIngredients
                  p  - #{ingredient.name} (#{ingredient.amount} #{ingredient.unit})
                p(class='has-text-weight-semibold') Missing
                each ingredient in recipe.missedIngredients
                  p  - #{ingredient.name} (#{ingredient.amount} #{ingredient.unit})