extends ../../partials/layouts/layout

block content
  h1(class='title has-text-centered has-text-info is-size-1')= heading

  h2(class='has-text-centered is-size-5')= recipe.title
  p(class='has-text-centered is-size-7 has-text-weight-semibold') Cooking Time: #{recipe.readyInMinutes}mins
  div(class='container is-fluid has-background-white-ter')
    hr
    div(class='recipeContainer')
      div(class='has-text-justified')
        p!= recipe.summary
      br
      div
        h2(class='is-size-5 has-text-weight-semibold') Ingredients
        
        each ingredient in recipe.extendedIngredients
          ul
            li #{ingredient.name} (#{ingredient.amount}#{ingredient.unit})
      br
      if recipe.analyzedInstructions.length
        div(class='has-text-justified')  
          p(class='is-size-5 has-text-weight-semibold') Instructions Summary
          p= recipe.instructions
        br
        details(class='mb-4')
          summary(class='used is-size-6 pb-4') Step by Step
          div(class='has-text-justified')
              p(class='is-size-5 has-text-weight-semibold') Step by step instructions
              each instruction in recipe.analyzedInstructions
                each steps in instruction.steps
                  p(class='is-size-6 has-text-weight-semibold') Step#{steps.number}
                  p #{steps.step}
      else
        p So sorry, there are no step by step instructions for this recipe.
             
       
    
            
