extends ../../partials/layouts/layout

block content
  h1(class='title has-text-centered has-text-primary is-size-1')= heading

  div(class='addIngredients has-text-centered is-size-5')
    a(href='/api/ingredients/add' class='has-text-primary') Add Ingredients
  div(id='ingredientsTable' class='ingredientsList')
    hr
    h2(class='has-text-centered is-size-5') Select ingredients for a recipe
    if queryParams
        p(class='has-text-centered has-text-danger')= queryParams.error
    form(='./' method='post' class='formBody labelGroup has-text-centered')
        fieldset
            details
                summary(class='has-text-centered is-size-4') Fridge
                //- index (i) used here to distinguish between same name values
                table(class='table is-fullwidth has-text-left')
                    thead
                        tr
                            th Item
                            th expiry
                            th 
                        tbody
                            each ingredient, i in ingredients.fridge
                                tr
                                    td
                                        input(type='checkbox' class='control' name=`ingredient`, value=`${ingredient.label}`, id=`fridge${ingredient.label+i}`) 
                                        |
                                        label(for=`fridge${ingredient.label+i}`)= ingredient.label
                                    td #{ingredient.expiryDate}
                                    td(class=`${ingredient.expiringSoon}`)
        fieldset
            details
                summary(class='has-text-centered is-size-4') Freezer
                //- index (i) used here to distinguish between same name values
                table(class='table is-fullwidth has-text-left')
                    thead
                        tr
                            th Item
                            th expiry
                            th 
                        tbody
                            each ingredient, i in ingredients.freezer
                                tr
                                    td
                                        input(type='checkbox' class='control' name=`ingredient`, value=`${ingredient.label}`, id=`freezer${ingredient.label+i}`) 
                                        |
                                        label(for=`freezer${ingredient.label+i}`)= ingredient.label
                                    td #{ingredient.expiryDate}
                                    td(class=`${ingredient.expiringSoon}`)
        fieldset
            details
                summary(class='has-text-centered is-size-4') Cupboard
                //- index (i) used here to distinguish between same name values
                table(class='table is-fullwidth has-text-left')
                    thead
                        tr
                            th Item
                            th expiry
                            th 
                        tbody
                            each ingredient, i in ingredients.cupboard
                                tr
                                    td
                                        input(type='checkbox' class='control' name=`ingredient`, value=`${ingredient.label}`, id=`cupboard${ingredient.label+i}`) 
                                        |
                                        label(for=`cupboard${ingredient.label+i}`)= ingredient.label
                                    td #{ingredient.expiryDate}
                                    td(class=`${ingredient.expiringSoon}`)
        fieldset
            details
                summary(class='has-text-centered is-size-4') Other
                //- index (i) used here to distinguish between same name values
                table(class='table is-fullwidth has-text-left')
                    thead
                        tr
                            th Item
                            th expiry
                            th 
                        tbody
                            each ingredient, i in ingredients.other
                                tr
                                    td
                                        input(type='checkbox' class='control' name=`ingredient`, value=`${ingredient.label}`, id=`other${ingredient.label+i}`) 
                                        |
                                        label(for=`other${ingredient.label+i}`)= ingredient.label
                                    td #{ingredient.expiryDate}
                                    td(class=`${ingredient.expiringSoon}`)
        h2(class='has-text-centered is-size-5') Select any intolerances
        fieldset
            details  
                summary(class='has-text-centered is-size-4') Intolerances
                table(class='table is-fullwidth')
                    tbody
                        each intolerance in ['Dairy', 'Egg', 'Gluten', 'Grain', 'Peanut', 'Seafood', 'Sesame', 'Shellfish', 'Soy', 'Sulfite', 'Tree Nut', 'Wheat']
                            tr
                                td
                                    input(type='checkbox' class='control' name=`intolerance`, value=`${intolerance}`, id=`other${intolerance}`) 
                                td
                                    label(for=`other${intolerance}`)= intolerance
        div(class="field")
            p(class="control has-text-centered")
                button(class="button is-success" type='submit',value='getRecipes') Get Recipes