extends ../../partials/layouts/layout

block content
  h1= heading
  a(href='./add') Add Ingredients
  div
    each val in ingredients
      p= val.label
      p= val.quantity
      p= val.location
      p(class=val.expiringSoon)= val.expiryDate

