extends ../../partials/layouts/layout

block content
  div
    h1(class='title has-text-centered has-text-info is-size-1')= heading

    div(class='addIngredients has-text-centered is-size-5')
      a(href='/api/ingredients/add' class='has-text-info') Add Ingredients
    div(id='ingredientsTable' class='ingredientsList')
      if queryParams
        article(id='ingredientsAdded' class="message is-info")
          div(class="message-header")
            p Ingredient Added
            button(id='delete' class="delete" aria-label="delete")
        
          div(id='message' class="message-body") 
            p Ingredient: #{queryParams.label}
            p Quantity: #{queryParams.quantity}
            p Location: #{queryParams.location}
            p Expires: #{queryParams.expiryDate}

      hr
      details
        summary(class='has-text-centered is-size-4') Fridge
        table(class='table is-hoverable is-fullwidth')
          thead(class='thead')
            tr(class='tr')
              th Ingredient
              th quantity
              th expiry
              th
              tbody(class='tbody')
                each ingredient, i in ingredients.fridge
                  tr
                    td #{ingredient.label}
                    td #{ingredient.quantity}
                    td #{ingredient.expiryDate}
                    td(class=ingredient.expiringSoon)
      details
        summary(class='has-text-centered is-size-4') Freezer
        table(class='table is-hoverable is-fullwidth')
          thead(class='thead')
            tr(class='tr')
              th Ingredient
              th quantity
              th expiry
              th
              tbody(class='tbody')
                each ingredient, i in ingredients.freezer
                  tr
                    td #{ingredient.label}
                    td #{ingredient.quantity}
                    td #{ingredient.expiryDate}
                    td(class=ingredient.expiringSoon)
      details
        summary(class='has-text-centered is-size-4') Cupboard            
        table(class='table is-hoverable is-fullwidth')
          thead(class='thead')
            tr(class='tr')
              th Ingredient
              th quantity
              th expiry
              th
              tbody(class='tbody')
                each ingredient, i in ingredients.cupboard
                  tr
                    td #{ingredient.label}
                    td #{ingredient.quantity}
                    td #{ingredient.expiryDate}
                    td(class=ingredient.expiringSoon)
      details  
        summary(class='has-text-centered is-size-4') Other
        div(class="table-container")
          table(class='table is-hoverable is-fullwidth')
            thead(class='thead')
              tr(class='tr')
                th Ingredient
                th quantity
                th location
                th expiry
                th
                tbody(class='tbody')
                  each ingredient, i in ingredients.other
                    tr
                      td #{ingredient.label}
                      td #{ingredient.quantity}
                      td #{ingredient.location}
                      td #{ingredient.expiryDate}
                      td(class=ingredient.expiringSoon)
        