extends ../../partials/layouts/layout

block content
  h1= heading
  a(href='./ingredients/add') Add Ingredients
  div
    each val in ingredients
      p= val.name
      p= val.quantity
      p= val.type
      p= val.dateAdded

